.header-container {
    height    : 96px;
    max-width : 1440px;
    padding   : 12px 72px;
    box-sizing: border-box;

    .logo {
        font-size     : 32px;
        line-height   : 72px;
        font-weight   : 800;
        letter-spacing: 0.64px;
        font-family   : var(--font-be-vietnam-pro);
        display       : flex;
        align-items   : center;
        gap           : 10px;

        .header-logo {
            width : 46.08px;
            height: 52px;
        }
    }
}

@media (max-width: 480px) {
    .header-container {
        height : 64px;
        width  : 100%;
        padding: 8px 12px;

        .logo {
            font-size     : 21.33px;
            line-height   : 48px;
            letter-spacing: 0.4px;
            gap           : 9px;

            .header-logo {
                width : 30.72px;
                height: 34.67px;
            }
        }
    }
}